#main_table{
    min-width: 300px;
    margin-top: 100px;
}
.rtop, .rbottom{
    min-width: 300px;
}
#login span{
    color: #22449b;
}
#login img{
    vertical-align: -20%;
}
#login{
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
}
#content{
    min-width: 300px;
}
form {
    font-size: 9pt;
}
select, input {
    margin-bottom: 10px;
    font-size: 11pt;
}
.logintext{
    width: 260px;
}
