/*======= index.html =======*/
#page1 #content .col-1 {width:238px; margin-right:24px;}
#page1 #content .col-2 { width:229px;}

/*======= index-2.html =======*/
#page3 #content .col-1 {width:238px; margin-right:24px;}
#page3 #content .col-2 { width:229px;}


/*=========================*/


