/* new mail page */

#new_page{
    width: 100%;
}
.toggle_folder{
    font-size: 80%;
    padding-left: 30px;
    padding-right: 20px;
}
#new_page_controls{
}
.unread_mailbox_table h4 a{
    text-decoration: none;
}
.unread_mailbox_table h4{
    border: none;
    margin-bottom: 0px;
    padding: 0px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    display: inline;
    padding-top: 10px;
    
}
.unread_mailbox_table td{
    padding-top: 5px;
    padding-bottom: 4px;
    padding-right: 5px;
    vertical-align: top;
    border-bottom: dotted 1px #ccc;
    background-color: #f8f8f8;
}
.empty_unread{
    margin-left: 40px;
    font-style: italic;
    font-size: 90%;
    color: #999;
}
.unread_mailbox_table th{
    text-align: left;
    background-color: #edebdd;
    font-size: 80%;
    padding-bottom: 2px;
    padding-top: 3px;
}
.unread_mailbox_table th a{ padding-left: 17px; }
.unread_mailbox_table{ padding-bottom: 20px; }
.unread_mailbox_table .mbx_unseen_indicators { padding-left: 15px; }

#new_page_inner{
}
#mailbox_title2 { padding-left: 20px; margin-bottom: 10px; }
#new_page_meta{
    font-weight: normal;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 5px;
    text-align: right;
    display: block;
}
.checkbox_cell_heading{
    padding-left: 15px;
}
.mbx_unseen_from, .mbx_unseen_subject a{} 
.mbx_unseen_plugin_cell, .mbx_unseen_checkbox, .mbx_unseen_indicators, .mbx_unseen_subject, .mbx_unseen_from, .mbx_unseen_date, .mbx_unseen_size{ background-color: #ebedf0; }
.mbx_unseen_checkbox, .mbx_checkbox, .mbx_unseen_indicators, .mbx_indicators, .mbx_unseen_size, .mbx_size{ white-space: nowrap; }
.mbx_unseen_from, .mbx_unseen_date, .mbx_unseen_size, .mbx_size, .mbx_date, .mbx_from{
    white-space: nowrap;
    font-size: 90%;
}
.last_read_hidden{
    visibility: hidden;
    padding-right: 3px;
}
.last_read{
    padding-right: 3px;
}
.mbx_unseen_indicators, .mbx_indicators{
    width: 1%;
    white-space: nowrap;
    padding-left: 10px;
}
.mbx_unseen_checkbox, .mbx_checkbox{
    width: 1%;
    padding-left: 10px;
}
.mbx_unread_cell, .mbx_title_cell {
    background-color: #f7f7f7 !important;
    padding-top: 10px !important;
    border-bottom: none !important;
}
#edit_new_page{
    float: right;
    margin-right: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 80%;
}
.mbx_unseen_image_cell {
    width: 45px;
    padding: 0px !important;
    padding-top: 7px !important;
    padding-right: 8px !important;
    background-color: #ebedf0;
    white-space: nowrap;
    font-size: 0px;
}
.mbx_unseen_image_cell div{
    background: #ebedf0 url('themes/albook_sepia/images/read_msg.png') 0px 0px no-repeat;
    width: 14px !important;
    height: 13px !important;
    margin-right: 8px !important;
    float: left;
}
.mbx_unseen_subject, .subject_cell_heading{
    padding-left: 3px;
}
