#contacts_page{
    padding-left: 20px;
    padding-bottom: 20px;
}
#contact_form table {
    width: 600px;
    clear: both;
    padding-left: 10px;
}
#contact_form table td{
    padding-right: 15px;
    padding-bottom: 5px;
    vertical-align: top;
    padding-top: 2px;
}
.contacts_leftcol{
    white-space: nowrap;
    padding-left: 20px;
    color: #000;
    padding-right: 15px;
    width: 130px;
}
#contact_form table td b{
    font-size: 95%;
    font-style: italic;
}
h5, h4{ 
    margin: 0px; 
    color: #396d69;
    margin-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: dotted 1px #ccc;
    clear: both;
}
h5 {
    width: 600px;
    border: none;
    padding-bottom: 0px;
    margin-left: 20px;
}
.contact_groups{
    clear: both;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.contact_groups th{
    font-size: 90%;
    padding-left: 10px;
    padding-top: 3px;
    text-align: left;
    padding-bottom: 3px;
    background-color: #c5e0de;
}
.contact_groups td{
    padding-left: 10px;
    padding-top: 2px;
    font-size: 90%;
    vertical-align: top;
    border-bottom: solid 1px #c5e0de;
    background-color: #fff;
    padding-bottom: 2px;
}
#card_details {
    padding-left: 20px;
}
#card_details th{
    text-align: right;
    padding-right: 10px;
    font-size: 90%;
}
.notices{
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    font-size: 110%;
    font-style: italic;
}
.edit_buttons input{
    font-size: 90%;
}
.edit_buttons{
    width: 600px;
    text-align: right;
    margin-top: 10px;
}
#importform{
    padding-left: 20px;
    padding-bottom: 20px;
}
#contact_links a{
    padding-left: 10px;
}
#contact_links{
    font-size: 90%;
    font-weight: normal;
    float: right;
    padding-right: 30px;
}
#sort_contacts{
    float: right;
    font-size: 80%;
    padding-right: 15px;
    padding-bottom: 5px;
    margin-top: -5px;
}
.contact_table_links{
    white-space: nowrap;
    padding-right: 10px;
    width: 1%;
}
.contact_groups .contact_links a{
    padding-left: 5px;
}
.contact_groups .contact_links{
    padding-top: 5px;
    border-bottom: none;
    text-align: center;
}
#search_contacts{
    float: left;
    font-size: 80%;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-top: -5px;
}
.contact_group_form{
    margin-top: 10px;
}
.contact_group_form td{
    padding-left: 10px;
}
.grp_btns{
    padding-top: 10px;
    text-align: right;
}
.members{
    font-size: 85% !important;
}
