/* Theme Styles */

/* Grey (Bootstrap Default) */
a:link, a:visited {
	color:#999;
	text-decoration:none;
}
a:hover, a:active {
	color:#000;
	text-decoration:none;
}
.powered a:link, .powered a:visited {
	color:#999;
	text-decoration:none;
}
.powered a:hover, .powered a:active {
	color:#000;
	text-decoration:none;
}
.panel {
	background-color:#fff;
	border: 1px solid #ddd;
}
.panel-heading {
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
}
.logo {
  background-image: url("../img/zplogin-black.png");
}
.panel-footer {
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
}

/* Black
a:link, a:visited {
	color:#777;
	text-decoration:none;
}
a:hover, a:active {
	color:#fff;
	text-decoration:none;
}
.powered a:link, .powered a:visited {
	color:#777;
	text-decoration:none;
}
.powered a:hover, .powered a:active {
	color:#000;
	text-decoration:none;
}
.panel {
	background-color:#fff;
	border: 2px solid #333;
}
.panel-heading {
	background-color: #333;
	border-bottom: 1px solid #333;
}
.logo {
  background-image: url("../img/zplogin-white.png");
}
.panel-footer {
	background-color: #333;
	border-top: 1px solid #333;
}
*/

/* Blue
a:link, a:visited {
	color:#999;
	text-decoration:none;
}
a:hover, a:active {
	color:#000;
	text-decoration:none;
}
.powered a:link, .powered a:visited {
	color:#999;
	text-decoration:none;
}
.powered a:hover, .powered a:active {
	color:#000;
	text-decoration:none;
}
.panel {
	background-color:#fff;
	border: 2px solid #3B5998;
}
.panel-heading {
	background-color: #3B5998;
	border-bottom: 1px solid #3B5998;
}
.logo {
  background-image: url("../img/zplogin-white.png");
}
.panel-footer {
	background-color: #3B5998;
	border-top: 1px solid #3B5998;
}
*/

/* Core Styles */
.wrapper {
	position: fixed;
	left: 50%;
	top: 45%;
	height: 280px;
	margin-top: -140px;
	width: 400px;
	margin-left: -200px;
}
.panel {
	padding: 0;
	overflow: hidden;
}
.alerts {
	padding: 0 15px;
}
.alerts>div {
	margin: 15px 0 0 0;
}
.panel-heading {
	margin: 0;
	padding: 15px 0;
	font-size: 0;
}
.logo {
	display: inline-block;
	width: 226px;
	height: 40px;
}
.panel-content {
	padding: 15px;
}
.checkbox {
	margin-bottom: 0;
}
.panel-footer {
	margin: 0;
	padding: 15px 10%;
	line-height: 35px;
	vertical-align: center;
	font-weight: bold;
}