body, td, th, dd, dt, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
  font-family: helvetica,arial,sans-serif;
}
body, small {
  font-size: 10pt;
}
td, th {
  font-size: 12pt;
}
textarea, pre {
  font-family: monospace;
  font-size: 11pt;
}
