#search_page {
}
#mailbox_meta{
    font-size: 75%;
    font-weight: normal;
    padding-left: 20px;
}
#search_page_inner{
    margin-top: 0px;
}
#search_res{
    overflow: auto;
    width: 100%;
}
.search_res_table h4 a{
}
.search_res_table h4{
    border: none;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px;
    padding-left: 20px;
}
.search_res_table td{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 4px;
    vertical-align: top;
    border-bottom: dotted 1px #333;
}
.empty_search_res{
    padding: 20px;
    margin-top: 20px;
    margin-left: 50px;
    font-style: italic;
    color: #999;
}
.search_res_table th{
    padding-left: 10px;
    text-align: left;
    background-color: #222;
    font-size: 80%;
    padding-top: 3px;
}
.search_res_table th a{ padding-left: 23px; }
.search_res_table{ padding-bottom: 20px; }
.search_res_table .mbx_unseen_indicators { padding-left: 15px; }
.message_controls2, .message_controls{
    clear: both;
    background-color: #000;
    font-size: 80%;
    padding-bottom: 5px;
    border-top: solid 1px #1c0c5f;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 10px;
    padding-top: 5px;
}
#mailbox_title2 { margin-bottom: 10px; padding-left: 20px;}
.message_controls2{
    vertical-align: middle;
    min-height: 20px;
    border-bottom: solid 1px #1c0c5f;
}
.message_controls2 select, .message_controls2 input, .message_controls select, .message_controls input{
    border: solid 1px #1c0c5f;
    color: #666;
    padding: 1px;
    padding-left: 2px;
    margin-right: 3px;
    padding-right: 2px;
}
#new_page_meta{
    font-weight: normal;
    text-align: right;
    padding-right: 10px;
    margin-top: -25px;
    padding-bottom: 5px;
}
.mbx_indicators{
    width: 1%;
    white-space: nowrap;
    padding-left: 10px;
}
.indicators{ font-style: italic; }
.mbx_unseen_from, .mbx_unseen_subject a{ font-weight: bold; }
.mbx_unseen_plugin_cell, .mbx_unseen_checkbox, .mbx_unseen_indicators, .mbx_unseen_subject, .mbx_unseen_from, .mbx_unseen_date, .mbx_unseen_size{ background-color: #242424; }
.mbx_checkbox, .mbx_unseen_checkbox, .mbx_unseen_indicators, .mbx_indicators, .mbx_unseen_size, .mbx_size{ white-space: nowrap; }
.mbx_unseen_from, .mbx_unseen_date, .mbx_unseen_size, .mbx_size, .mbx_date, .mbx_from{
    white-space: nowrap;
    font-size: 90%;
}
.deleted_message a {
    color: #888;
    text-decoration: line-through;
}
#search_page_controls{
    margin-left: -30px;
    margin-right: -30px;
}
#search_form{
    padding-left: 20px;
}
#search_form table{
    width: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
}
#search_form table td{
    white-space: nowrap;
    vertical-align: top;
    font-size: 95%;
    padding-top: 10px;
}
#search_form table td option {
    padding-right: 10px;
}
#search_form table td select, #search_form table td option{
    font-size: 90%;
    color: #666;
}
#search_form table td input, #search_form table td select{
    margin-left: 5px;
    margin-right: 5px;
}
#search_form table td div{
    display: inline;
    white-space: nowrap;
}
#search_form table th{
    white-space: nowrap;
    vertical-align: top;
    padding-right: 10px;
    font-weight: normal;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}
#search_form table td .search_button{
    margin: 0px;
    margin-top: 30px;
}
#search_form table td .alt_button{
    font-weight: bold;
}
#search_form table .and_or{
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
#search_form table .button_row{
    padding-top: 20px;
    text-align: center;
}
#search_form table .top_row{
    padding-left: 0px;
    font-weight: bold;
    vertical-align: middle;
}
#search_form a{
    padding-left: 20px;
    font-size: 90%;
}
.last_read_hidden{
    visibility: hidden;
    padding-right: 3px;
}
.last_read{
    font-size: 90%;
    vertical-align: 20%;
    padding-right: 3px;
}
.flagged {
    background-color: #1c0c5f;
}
.mbx_image_cell, .mbx_unseen_image_cell {
    padding: 0px !important;
    padding-top: 7px !important;
    padding-right: 6px !important;
    width: 45px;
    white-space: nowrap;
    font-size: 0px;
}
.mbx_unseen_image_cell{
    background-color: #242424;
}
.mbx_image_cell div{
    background: #fff url('themes/dark/images/unread_msg.png') 0px 0px no-repeat;
    width: 14px !important;
    height: 13px !important;
    margin-right: 8px !important;
    float: left;
}
.mbx_unseen_image_cell div{
    background: #fff url('themes/dark/images/read_msg.png') 0px 0px no-repeat;
    width: 14px !important;
    height: 13px !important;
    margin-right: 8px !important;
    float: left;
}
.mbx_subject, .mbx_unseen_subject, .subject_cell_heading{
    padding-left: 3px !important;
}
.mbx_checkbox, .mbx_unseen_checkbox{
    width: 1% !important;
    padding-right: 5px;
}
